<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")
cur = con.cursor()

!pip install -q pandas==1.1.5

%load_ext sql

%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

Load the SQL magic module

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [4]:
import pandas
df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Establish a connection between SQL magic module and the database `FinalDB.db`

In [1]:
%load_ext sql
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql SELECT COUNT(*) AS total_crimes FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [9]:
%%sql
SELECT Community_Area_Name, Community_Area_Number, Per_Capita_Income
FROM CENSUS_DATA
WHERE Per_Capita_Income < 11000
ORDER BY Per_Capita_Income;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 54.0, 8201),
 ('South Lawndale', 30.0, 10402),
 ('Fuller Park', 37.0, 10432),
 ('West Garfield Park', 26.0, 10934)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [28]:
%sql SELECT ID, CASE_NUMBER, DESCRIPTION FROM CHICAGO_CRIME_DATA \
    WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[(3987219, 'HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 (3266814, 'HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [31]:
%sql SELECT ID, CASE_NUMBER, DATE, PRIMARY_TYPE, DESCRIPTION FROM CHICAGO_CRIME_DATA \
WHERE PRIMARY_TYPE LIKE '%KIDNAP%' AND DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [47]:
%sql SELECT DISTINCT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA \
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [58]:
%sql SELECT School_ID,	NAME_OF_SCHOOL, "Elementary, Middle, or High School" as school_type, Safety_Icon FROM CHICAGO_PUBLIC_SCHOOLS_DATA \
WHERE Safety_Icon = "Average"

 * sqlite:///FinalDB.db
Done.

[(610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', 'Average'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', 'Average'),
 (610513, 'Air Force Academy High School', 'HS', 'Average'),
 (610209, 'Alessandro Volta Elementary School', 'ES', 'Average'),
 (609947, 'Alexander Graham Elementary School', 'ES', 'Average'),
 (609788, 'Alice L Barnard Computer Math & Science Center Elementary School', 'ES', 'Average'),
 (610334, 'Al Raby High School', 'HS', 'Average'),
 (610131, 'Ambrose Plamondon Elementary School', 'ES', 'Average'),
 (610320, 'Ana Roque de Duprey Elementary School', 'ES', 'Average'),
 (609837, 'Andrew Carnegie Elementary School', 'ES', 'Average'),
 (610229, 'A.N. Pritzker School', 'ES', 'Average'),
 (609887, 'Arthur Dixon Elementary School', 'ES', 'Average'),
 (610287, 'Ashburn Community Elementary School', 'ES', 'Average'),
 (609764, 'Benito Juarez Community Academy High School', 'HS', 'Average'),
 (610076, 'Bernhard Moos Elementary School', 'ES', 'Average'),
 (610175, 'Beulah Shoesmith Elementary School', 'ES', 'Average'),
 (610317, 'Brighton Park Elementary School', 'ES', 'Average'),
 (610381, 'Bronzeville Scholastic Academy High School', 'HS', 'Average'),
 (609827, 'Burnside Elementary Scholastic Academy', 'ES', 'Average'),
 (610353, 'Calmeca Academy of Fine Arts and Dual Language', 'ES', 'Average'),
 (609729, 'Carl Schurz High School', 'HS', 'Average'),
 (610238, 'Carrie Jacobs Bond Elementary School', 'ES', 'Average'),
 (610148, 'Cesar E Chavez Multicultural Academic Center Elementary School', 'ES', 'Average'),
 (609679, 'Charles Allen Prosser Career Academy High School', 'HS', 'Average'),
 (610005, 'Charles Evans Hughes Elementary School', 'ES', 'Average'),
 (609879, 'Charles Gates Dawes Elementary School', 'ES', 'Average'),
 (609966, 'Charles G Hammond Elementary School', 'ES', 'Average'),
 (609996, 'Charles N Holden Elementary School', 'ES', 'Average'),
 (609875, 'Charles R Darwin Elementary School', 'ES', 'Average'),
 (609883, 'Charles S Deneen Elementary School', 'ES', 'Average'),
 (610194, 'Charles Sumner  Math & Science Community Acad Elementary School', 'ES', 'Average'),
 (610340, 'Chicago Academy High School', 'HS', 'Average'),
 (610170, 'Columbia Explorers Elementary Academy', 'ES', 'Average'),
 (609781, 'Crispus Attucks Elementary School', 'ES', 'Average'),
 (609804, 'Daniel Boone Elementary School', 'ES', 'Average'),
 (610380, 'Daniel Hale Williams Prep School of Medicine', 'HS', 'Average'),
 (609835, 'Daniel R Cameron Elementary School', 'ES', 'Average'),
 (610221, 'Daniel Webster Elementary School', 'ES', 'Average'),
 (609704, 'David G Farragut Career Academy High School', 'HS', 'Average'),
 (609885, 'Dewey Elementary Academy of Fine Arts', 'ES', 'Average'),
 (609859, 'DeWitt Clinton Elementary School', 'ES', 'Average'),
 (610188, 'Dunne Technology Academy', 'ES', 'Average'),
 (610254, 'Dvorak Technology Academy', 'ES', 'Average'),
 (610246, 'Edward Beasley Elementary Magnet Academic Center', 'ES', 'Average'),
 (610012, 'Edward Jenner Elementary Academy of the Arts', 'ES', 'Average'),
 (609913, 'Elaine O Goodlow Elementary Magnet School', 'ES', 'Average'),
 (610227, 'Eli Whitney Elementary School', 'ES', 'Average'),
 (610119, 'Elizabeth Peabody Elementary School', 'ES', 'Average'),
 (609918, 'Eugene Field Elementary School', 'ES', 'Average'),
 (609874, 'Everett McKinley Dirksen Elementary School', 'ES', 'Average'),
 (610541, 'Federico Garcia Lorca Elementary School', 'ES', 'Average'),
 (610120, 'Ferdinand Peck Elementary School', 'ES', 'Average'),
 (610215, 'Francisco I Madero Middle School', 'MS', 'Average'),
 (609800, 'Frank I Bennett Elementary School', 'ES', 'Average'),
 (609958, 'Frank W Gunsaulus Elementary Scholastic Academy', 'ES', 'Average'),
 (610144, 'Frank W Reilly Elementary School', 'ES', 'Average'),
 (610245, 'Frederick A Douglass Academy High School', 'HS', 'Average'),
 (609779, 'George Armstrong International Studies Elementary School', 'ES', 'Average'),
 (610062, 'George B McClellan Elementary School', 'ES', 'Average'),
 (610048, 'George Manierre Elementary School', 'ES', 'Average'),
 (610139, 'George M Pullman Elementary School', 'ES', 'Average'),
 (609760, 'George Washington Carver Military Academy High School', 'HS', 'Average'),
 (610219, 'George Washington Elementary School', 'ES', 'Average'),
 (609739, 'George Washington High School', 'HS', 'Average'),
 (609920, 'Gerald Delgado Kanoon Elementary Magnet School', 'ES', 'Average'),
 (610187, 'Graeme Stewart Elementary School', 'ES', 'Average'),
 (610383, 'Greater Lawndale High School For Social Justice', 'HS', 'Average'),
 (609741, 'Gurdon S Hubbard High School', 'HS', 'Average'),
 (610122, 'Helen Peirce International Studies Elementary School', 'ES', 'Average'),
 (609972, 'Helge A Haugan Elementary School', 'ES', 'Average'),
 (610092, 'Henry H Nash Elementary School', 'ES', 'Average'),
 (609861, 'Henry R Clissold Elementary School', 'ES', 'Average'),
 (610058, 'Horatio May Elementary Community Academy', 'ES', 'Average'),
 (610110, 'Ida B Wells Preparatory Elementary Academy', 'ES', 'Average'),
 (610384, 'Infinity Math Science and Technology High School', 'HS', 'Average'),
 (610125, 'Irma C Ruiz Elementary School', 'ES', 'Average'),
 (610276, 'Irvin C Mollison Elementary School', 'ES', 'Average'),
 (609766, 'Jacqueline B Vaughn Occupational High School', 'HS', 'Average'),
 (609912, 'James B Farnsworth Elementary School', 'ES', 'Average'),
 (610074, 'James Monroe Elementary School', 'ES', 'Average'),
 (610217, 'James Ward Elementary School', 'ES', 'Average'),
 (609772, 'Jane Addams Elementary School', 'ES', 'Average'),
 (610093, 'Jane A Neil Elementary School', 'ES', 'Average'),
 (610031, 'Jean D Lafayette Elementary School', 'ES', 'Average'),
 (609894, 'John B Drake Elementary School', 'ES', 'Average'),
 (610243, 'John Calhoun North Elementary School', 'ES', 'Average'),
 (609829, 'John C Burroughs Elementary School', 'ES', 'Average'),
 (609898, 'John F Eberhart Elementary School', 'ES', 'Average'),
 (609718, 'John F Kennedy High School', 'HS', 'Average'),
 (610263, 'John Foster Dulles Elementary School', 'ES', 'Average'),
 (609694, 'John Hancock College Preparatory High School', 'HS', 'Average'),
 (609971, 'John Harvard Elementary School of Excellence', 'ES', 'Average'),
 (609975, 'John Hay Elementary Community Academy', 'ES', 'Average'),
 (609723, 'John Marshall Metropolitan High School', 'HS', 'Average'),
 (609954, 'John Milton Gregory Elementary School', 'ES', 'Average'),
 (609775, 'John P Altgeld Elementary School', 'ES', 'Average'),
 (610269, 'John T McCutcheon Elementary School', 'ES', 'Average'),
 (610225, 'John Whistler Elementary School', 'ES', 'Average'),
 (610159, 'Jonathan Y Scammon Elementary School', 'ES', 'Average'),
 (610313, 'Jose De Diego Elementary Community Academy', 'ES', 'Average'),
 (610242, 'Joseph Brennemann Elementary School', 'ES', 'Average'),
 (610041, 'Josephine C Locke Elementary School', 'ES', 'Average'),
 (609925, 'Joseph Kellman Corporate Community Elementary School', 'ES', 'Average'),
 (610043, 'Joseph Lovett Elementary School', 'ES', 'Average'),
 (610129, 'Josiah Pickard Elementary School', 'ES', 'Average'),
 (609910, 'Laughlin Falconer Elementary School', 'ES', 'Average'),
 (609807, 'Lionel Hampton Fine & Performing Arts Elementary School', 'ES', 'Average'),
 (609834, 'Little Village Elementary School', 'ES', 'Average'),
 (610325, 'Logandale Middle School', 'MS', 'Average'),
 (609809, 'Lorenz Brentano Math & Science Academy Elementary School', 'ES', 'Average'),
 (609773, 'Louis A Agassiz Elementary School', 'ES', 'Average'),
 (610156, 'Louis Armstrong Math & Science Elementary School', 'ES', 'Average'),
 (610094, 'Louis Nettelhorst Elementary School', 'ES', 'Average'),
 (610117, 'Louis Pasteur Elementary School', 'ES', 'Average'),
 (610237, 'Ludwig Van Beethoven Elementary School', 'ES', 'Average'),
 (609817, 'Lyman A Budlong Elementary School', 'ES', 'Average'),
 (610205, 'Lyman Trumbull Elementary School', 'ES', 'Average'),
 (609722, 'Manley Career Academy High School', 'HS', 'Average'),
 (609872, 'Manuel Perez Elementary School', 'ES', 'Average'),
 (610128, 'Marcus Moziah Garvey Elementary School', 'ES', 'Average'),
 (610544, 'Mariano Azuela Elementary School', 'ES', 'Average'),
 (609756, 'Marie Sklodowska Curie Metropolitan High School', 'HS', 'Average'),
 (610502, 'Marine Military Math and Science Academy', 'HS', 'Average'),
 (610152, 'Martha Ruggles Elementary School', 'ES', 'Average'),
 (610154, 'Martin A Ryerson Elementary School', 'ES', 'Average'),
 (610539, 'Marvin Camras Elementary School', 'ES', 'Average'),
 (610046, 'Mary Lyon Elementary School', 'ES', 'Average'),
 (609888, 'Mary Mapes Dodge Elementary Renaissance Academy', 'ES', 'Average'),
 (610365, 'Mary McLeod Bethune Elementary School', 'ES', 'Average'),
 (610535, 'Mason High School', 'HS', 'Average'),
 (609935, 'Matthew Gallistel Elementary Language Academy', 'ES', 'Average'),
 (610018, 'Miriam G Canter Middle School', 'MS', 'Average'),
 (609725, 'Morgan Park High School', 'HS', 'Average'),
 (610257, 'Morton School of Excellence', 'ES', 'Average'),
 (610385, 'Multicultural Academy of Scholarship', 'HS', 'Average'),
 (609960, 'Nathan Hale Elementary School', 'ES', 'Average'),
 (610134, 'Nathaniel Pope Elementary School', 'ES', 'Average'),
 (610348, 'Nathan R Goldblatt Elementary School', 'ES', 'Average'),
 (609876, 'Nathan S Davis Elementary School', 'ES', 'Average'),
 (609692, 'Neal F Simeon Career Academy High School', 'HS', 'Average'),
 (610085, 'Near North Elementary School', 'ES', 'Average'),
 (609792, 'Newton Bateman Elementary School', 'ES', 'Average'),
 (609730, 'Nicholas Senn High School', 'HS', 'Average'),
 (609793, 'Nicholson Technology Academy', 'ES', 'Average'),
 (609691, 'North-Grand High School', 'HS', 'Average'),
 (610529, 'Ogden International High School', 'HS', 'Average'),
 (610329, 'Orozco Fine Arts & Sciences Elementary School', 'ES', 'Average'),
 (609988, 'Patrick Henry Elementary School', 'ES', 'Average'),
 (610003, 'Paul Cuffe Math-Science Technology Academy Elementary School', 'ES', 'Average'),
 (610395, 'Pershing West Middle School', 'MS', 'Average'),
 (610304, 'Phoenix Military Academy High School', 'HS', 'Average'),
 (610013, 'Pilsen Elementary Community Academy', 'ES', 'Average'),
 (610141, 'Ravenswood Elementary School', 'ES', 'Average'),
 (609903, 'Richard Edwards Elementary School', 'ES', 'Average'),
 (610291, 'Richard Henry Lee Elementary School', 'ES', 'Average'),
 (610102, 'Richard J Oglesby Elementary School', 'ES', 'Average'),
 (609702, 'Richard T Crane Technical Preparatory High School', 'HS', 'Average'),
 (610234, 'Richard Yates Elementary School', 'ES', 'Average'),
 (609695, 'Roald Amundsen High School', 'HS', 'Average'),
 (609929, 'Robert Fulton Elementary School', 'ES', 'Average'),
 (610252, 'Robert Nathaniel Dett Elementary School', 'ES', 'Average'),
 (609759, 'Roberto Clemente Community Academy High School', 'HS', 'Average'),
 (610029, 'Rodolfo Lozano Bilingual & International Center Elementary School', 'ES', 'Average'),
 (610027, 'Rudyard Kipling Elementary School', 'ES', 'Average'),
 (609853, 'Salmon P Chase Elementary School', 'ES', 'Average'),
 (610157, 'Sidney Sawyer Elementary School', 'ES', 'Average'),
 (609724, 'Stephen T Mather High School', 'HS', 'Average'),
 (610396, 'Tarkington School of Excellence Elementary School', 'ES', 'Average'),
 (610506, 'TEAM Englewood Community Academy High School', 'HS', 'Average'),
 (609921, 'Telpochcalli Elementary School', 'ES', 'Average'),
 (609991, 'Theodore Herzl Elementary School', 'ES', 'Average'),
 (609728, 'Theodore Roosevelt High School', 'HS', 'Average'),
 (610178, 'Theophilus Schmid Elementary School', 'ES', 'Average'),
 (609895, 'Turner-Drew Elementary Language Academy', 'ES', 'Average'),
 (610394, 'Uplift Community High School', 'HS', 'Average'),
 (609989, 'Victor Herbert Elementary School', 'ES', 'Average'),
 (610518, 'VOISE Academy High School', 'HS', 'Average'),
 (610179, 'Washington D Smyser Elementary School', 'ES', 'Average'),
 (610121, 'Washington Irving Elementary School', 'ES', 'Average'),
 (609740, 'Wells Community Academy High School', 'HS', 'Average'),
 (610109, 'William Bishop Owen Scholastic Academy Elementary School', 'ES', 'Average'),
 (610143, 'William C Reavis Math & Science Specialty Elementary School', 'ES', 'Average'),
 (610364, 'William E B Dubois Elementary School', 'ES', 'Average'),
 (609967, 'William F Finkl Elementary School', 'ES', 'Average'),
 (610023, 'William H King Elementary School', 'ES', 'Average'),
 (610167, 'William H Seward Communication Arts Academy Elementary School', 'ES', 'Average'),
 (610061, 'William J & Charles H Mayo Elementary School', 'ES', 'Average'),
 (609949, 'William P Gray Elementary School', 'ES', 'Average'),
 (610097, 'William P Nixon Elementary School', 'ES', 'Average'),
 (610336, 'Williams Preparatory Academy Middle School', 'MS', 'Average'),
 (610088, 'Wolfgang A Mozart Elementary School', 'ES', 'Average'),
 (610392, 'World Language Academy High School', 'HS', 'Average')]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [60]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA \
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [73]:
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS Incident_Count FROM CHICAGO_CRIME_DATA \
     GROUP BY COMMUNITY_AREA_NUMBER ORDER BY Incident_Count DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [88]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) no such column: LOCATION_DESCRIPTION
[SQL: SELECT LOCATION_DESCRIPTION AS COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [93]:
%sql SELECT DISTINCT (LOCATION_DESCRIPTION) FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = (SELECT LOCATION_DESCRIPTION FROM CHICAGO_CRIME_DATA GROUP BY LOCATION_DESCRIPTION ORDER BY COUNT(*) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('STREET',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>